. container{
   width: 30%;
   height: 200px;
   display:flex;
   align-items: baseline;
   justify-content: baseline;

}
img{
    width: 30%;
    height: 200px;
    object-position: right;
    display: block;
    object-fit: cover;
}